html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 12px;
}

iframe {
  height: auto !important;
  width: 100% !important;
  aspect-ratio: 16 / 9 !important;
}